@import './core/reset.scss';
@import './core/variables.scss';

:root {
  font: var(--font-normal); /* font-size: 10px; */
  color: var(--color-white);
}

@media screen and (min-width: 420px) {
  :root {
    font-size: 12px;
  }
}

@media screen and (min-width: 560px) {
  :root {
    font-size: 14px;
  }
}

.container {
  padding: 22px 22px 0 22px;
  background-color: var(--color-dark);
}


.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.5rem;
  &__brand {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 7px 5px;
    gap: 7px;
  }
  &__companyLogo {
    height: 75px;
    color: var(--color-white);
  }
  &__title {
    font: var(--font-title-brand);
    text-transform: capitalize;
    color: var(--color-white);
  }
}


@media screen and (min-width: 768px) {
  .main {
    max-width: 980px;
    margin-inline: auto;
    display: grid;
    grid-template-columns: 6fr 5fr;
    gap: 2rem;
  }
}


.hero {
  margin-bottom: 3rem;
  &.title {
    font: var(--font-title-big);
    margin-bottom: 8px;
  }
  &__text {
    font: var(--font-text-big);
    text-align: center;
    margin-inline: 4rem;
    margin-bottom: 1.8rem;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    grid-column: span 2;
  }
}


.preview .projectImage {
  width: 100%;
  aspect-ratio: 1 / 1;
  outline: solid 1px pink;

  background-position: top center;
  background-size: cover;
}

.preview .card {
  margin-inline: 20px;

  transform: translateY(-45px);
}

.card {
  display: grid;
  grid-template-columns: 40% 60%;

  color: var(--color-black);
  font: var(--font-card-text);

  border-radius: 20px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-style: solid;
  border-width: 1px;
  border-image-source: linear-gradient(to bottom, var(--color-white) 0%, rgba(0, 0, 0, 0));
  border-image-slice: 1;
  background-image: linear-gradient(to bottom, var(--color-white), var(--color-white)), linear-gradient(to bottom, var(--color-white) 0%, rgba(0, 0, 0, 0));
  background-origin: border-box;
  background-clip: content-box, border-box;

  &__projectTitle {
    grid-column: 2;
    position: relative;
    margin: 15px 10px 1rem 0;
    text-align: center;
    text-transform: capitalize;
  
    font: var(--font-card-section);
  }
  &__projectTitle::before {
    content: '';
    position: absolute;
    top: calc( 50% - 1px );
    bottom: calc( 50% - 1px );
    left: 0;
    right: 0;
    z-index: 0;
  
    background-image: linear-gradient(to right, white, #232323 15%, var(--color-black), #232323 85%, white);
  }
  &__projectTitle--text {
    position: relative;
    padding-inline: 0.1em;
    z-index: 1;
    background-color: var(--color-white);
  }
  &__author {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }
  &__authorPhoto {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    margin-bottom: 0.8rem;
  }
  &____job {
    margin-bottom: 0.2rem;
  }
  &__name {
    font: var(--font-card-title);
    margin-bottom: .2rem;
  }
  &__project {
    margin-right: 10px;
  }
  &___slogan {
    font: var(--font-card-subtitle);
    margin-top: -.2rem;
    margin-bottom: .8rem;
  }
  &__descriptionTitle {
    font-weight: inherit;
    text-transform: capitalize;
  }
  &__technicalInfo {
    display: grid;
    grid-template-columns: 1fr 2rem 2rem;
    gap: .5em;
  
    margin-block: 1.8rem;
  }
  &__technologies {
    font: var(--font-card-tech);
  }
  
}


/* FORM */

.addForm .title {
  font: var(--font-title-biggest);
  margin-block: 18px;
}

.addForm {
  margin: 0 20px 5px 20px;

  box-shadow: 2px 4px 4px 0 rgba(0, 0, 0, 0.25);
  border: solid 1px rgba(0, 0, 0, 0);
  background-image: radial-gradient(circle at 50% 50%, var(--color-dusk), #211e2e 92%);
  &__title {
  position: relative;
  background-clip: padding-box;
  padding-block: 0.4rem;
  margin-block: 0.5rem;
  border: solid 2px transparent;
  
  font: var(--font-title-medium);
  text-align: center;
  }
  &__title:before {
    content: '';
    position: absolute;
    top: 100%; right: 0; bottom: 0; left: 0;
  
    margin-bottom: -2px;
    border-radius: inherit;
    background-color: transparent;
    background-image: linear-gradient(to left, transparent, #343045 25%, #c0b7e8 45%, var(--color-dark-lilac) 65%, #343045 75%, transparent );
  }
  &__group {
    margin-bottom: 25px;
  }
  &__input {
    display: block;
    width: calc( 100% - 20px );
    margin: 10px auto;
  
    padding: 8.5px 16px 8.5px 16px;
    border-radius: 40px;
    border: solid 2px var(--color-white);
  
    color: var(--color-white);
    background-color: transparent;
  
    font: var(--font-normal);
  }
  &__input::placeholder {
    color: var(--color-white-50);
  }
  &__group--upload {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 25px;
  }
  &__hidden {
    display: none;
  }
  &__2col {
    width: calc( 100% - 20px );
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
  }
  &__2col .addForm__input {
    width: calc( (100% - .2rem) / 2 );
    margin: 0;
  }
}


.footer {
  display: flex;
  justify-content: center;
  padding: 19px;
}



/* COMPONENTS */

.title {
  text-align: center;
  text-transform: capitalize;
}

.logoSponsor {
  height: 46px;
}

.button {
  display: block;
  min-width: 120px;
  max-width: 150px;

  margin: 8px;
  padding: 5px 18px;
  color: var(--color-white);
  font: var(--font-button);
  text-transform: none;
  text-decoration: none;
  text-align: center;

  border-radius: 40px;
  background-image: linear-gradient(to right, var(--color-dark-lilac) -2%, #c0b7e8 98%);

  cursor: pointer;

  &--link {
    display: block;
    width: fit-content;
  
    margin-inline: auto;
    margin-block: 8px;
    padding: 5px 18px;
    color: var(--color-white);
    font: var(--font-button);
    text-transform: uppercase;
    text-decoration: none;
  
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-style: solid;
    border-width: 1px;
    border-image-source: linear-gradient(to bottom, #2a2a2a 0%, rgba(0, 0, 0, 0));
    border-image-slice: 1;
    border-radius: 20px;
    background-color: var(--color-dark-lilac);
    /*
    background-image: linear-gradient(to bottom, var(--color-dark-lilac), var(--color-dark-lilac)), linear-gradient(to bottom, #2a2a2a 0%, rgba(0, 0, 0, 0));
    background-origin: border-box;
    background-clip: content-box, border-box;
    */
  }

  &--large {
    display: block;
    width: 145px;
  
    margin-inline: auto;
    margin-block: 8px;
    padding: 5px 18px;
    color: var(--color-white);
    font: var(--font-button);
    text-transform: none;
    text-decoration: none;
    text-align: center;
  
    border-radius: 40px;
    background-color: transparent;
    background-image: linear-gradient(to right, var(--color-dark-lilac) -2%, #c0b7e8 98%);
  
    cursor: pointer;
    &:hover {
      border-color: var(--color-white);
    }
  }
}

/* ICONS */

.icon {
  width: 1.6rem;
  height: 1.6rem;
  color: transparent;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 0 5px 0 var(--color-greyish-brown-two);
  &__www {
    background-image: url('../images/icons/globe-solid.svg');
  }
  &__github {
    background-image: url('../images/icons/github.svg');
  }
}


//LANDING

.hero__landing{
  background-image: url('../images/mountain1.png') ; 
  background-position: center; 
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.hero__content{
  margin-top: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}


.content__logo{
  width: 250px; 
  border-radius: 50%; 
}

.content__slogan{
  font-family: 'Lilita One', sans-serif;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: #003c25;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.31;
  text-transform: uppercase;
  margin-top: 10px;
}

.content__button{

background-color:#cc7a16;
padding: 7px 20px;
border-radius: 8px;
border: none;
cursor: pointer;
margin-top: 25px;
margin-right: 25px;
display: flex;
justify-content: center;
align-items: center;
}

.content__button:hover{
background-color:#70ba2f;
}

.button__a{
text-decoration: none;
color: white;
font-size: 1.2rem;
font-weight:500;
font-family: 'Lilita One', sans-serif;
text-align: center;
}

.buttons__landing{
  display: flex;
}